<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>保單比較</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='compare.css') }}">
  </head>

  <body>
            <a href = "/" >首頁</a>
            <a href = "know.html?noun=" >名詞解釋</a>
            <a href = "member.html" >會員中心</a>
            <a href = "policy.html" >保單一覽</a>
    <header class="top">
      <h1>保單比較</h1>
    </header>

	<div id="tableContainer">
	<div id="tableRow">

	<section id="policyA">
    {% autoescape false %}
		<h1>{{ title[0] }}</h1>
			<p>{{ content[0] | replace("\n\r","<br/>") }}</p>
	</section>

	<section id="policyB">
		<h1>{{ title[1] }}</h1>
			<p>{{ content[1] | replace("\n\r","<br/>") }}</p>

      {% endautoescape %}
	</section>
	</div> <!-- tableRow -->
	</div> <!-- tableContainer -->

	<form>
		<input type=checkbox value="對應值一" name="選項名稱一"> 保單A
		<br>
		<input type=checkbox value="對應值二" name="選項名稱二"> 保單B
		<br>
		<input type=checkbox value="對應值三" name="選項名稱三"> 保單C
		<br>
		<input type=checkbox value="對應值三" name="選項名稱三"> 保單D
		<br>
		<input type=checkbox value="對應值三" name="選項名稱三"> 保單E
		<br>
		<input type=checkbox value="對應值三" name="選項名稱三"> 保單F
	</form>

	<!-- submit to server -->
	<form>
		<input type=submit>
	</form>


    <footer>
      &copy; 2017, Team8
      <br>
      All trademarks and registered trademarks appearing on
      this site are the property of their respective owners.
    </footer>

  </body>
</html>
