<html>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='compare.css') }}">
    <title>member</title>
    <body>
        <a href = "/">首頁</a>
        <a href = "know.html?noun=" >名詞解釋</a>
        <a href = "compare.html" >保單比較</a>
        <a href = "policy.html" >保單一覽</a>
        <div>張小姐 您好</div>
        個人保單資訊:
        <div>您已經有的保單如下</div>
        <br>++++++++
        <br>++++++++
        <br>++++++++
        <br>++++++++
        
        <br>過去保單
        <br>++++++++
        <br>++++++++
        <br>++++++++
        <br>++++++++

        <div>我們推薦您 儲蓄險</div>
        
    </body>
</html>
