<html>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='assets/css/compare.css') }}">
    <title>member</title>
    <body class="subpage">
            <header id="header">
					<div class="inner">
						<a href="index.html" class="logo"><strong>Project</strong> by TEAM8</a>
						<nav id="nav">
								<a href = "/" >首頁</a>
								<a href = "know.html?noun=" >名詞解釋</a>
								<a href = "member.html" >會員中心</a>
								<a href = "policy.html" >保單一覽</a>
						</nav>
						<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
					</div>
            </header>
    <section id="three" class="wrapper">
		<div class="inner">   
        <div>張小姐 您好</div>
        個人保單資訊:
        <div>您已經有的保單如下
            <table border = "1" width = 50% align = "center">
                <caption></caption>

                <thead>
                    <!-- rowspans and colspans merge the specified -->
                    <!-- number of cells vertically or horizontally -->
                    <tr>
                        <th>
                            <strong>保險公司</strong>
                        </th>
			            <th>
                            <strong>保險名稱</strong>
                        </th>
			            <th>
                            <strong>主附約</strong>
                        </th>
			            <th>
                            <strong>年繳額</strong>
                        </th>
			            <th>
                            <strong>身故保險金</strong>
                        </th>
			            <th>
                            <strong>祝壽保險金</strong>
                        </th>
			            <th>
                            <strong>非全殘理賠</strong>
                        </th>
			            <th>
                            <strong>選擇</strong>
                        </th>
                    </tr>
                </thead>
                <tbody align = "center">
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
		        <tfoot>
		        </tfoot>
            </table>
        </div>
        
        <div>您過去的保單如下
            <table border = "1" width = 50% align = "center">
                <caption></caption>

                <thead>
                    <!-- rowspans and colspans merge the specified -->
                    <!-- number of cells vertically or horizontally -->
                    <tr>
                        <th>
                            <strong>保險公司</strong>
                        </th>
			            <th>
                            <strong>保險名稱</strong>
                        </th>
			            <th>
                            <strong>主附約</strong>
                        </th>
			            <th>
                            <strong>年繳額</strong>
                        </th>
			            <th>
                            <strong>身故保險金</strong>
                        </th>
			            <th>
                            <strong>祝壽保險金</strong>
                        </th>
			            <th>
                            <strong>非全殘理賠</strong>
                        </th>
			            <th>
                            <strong>選擇</strong>
                        </th>
                    </tr>
                </thead>
                <tbody align = "center">
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
		        <tfoot>
		        </tfoot>
            </table>
        </div>
        

        <div>我們推薦您的保單
            <table border = "1" width = 50% align = "center">
                <caption></caption>

                <thead>
                    <!-- rowspans and colspans merge the specified -->
                    <!-- number of cells vertically or horizontally -->
                    <tr>
                        <th>
                            <strong>保險公司</strong>
                        </th>
			            <th>
                            <strong>保險名稱</strong>
                        </th>
			            <th>
                            <strong>主附約</strong>
                        </th>
			            <th>
                            <strong>年繳額</strong>
                        </th>
			            <th>
                            <strong>身故保險金</strong>
                        </th>
			            <th>
                            <strong>祝壽保險金</strong>
                        </th>
			            <th>
                            <strong>非全殘理賠</strong>
                        </th>
			            <th>
                            <strong>選擇</strong>
                        </th>
                    </tr>
                </thead>
                <tbody align = "center">
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
		        <tfoot>
		        </tfoot>
            </table>
        </div>
        
    </body>
</html>
