<html>
   <head>
		<title>保單一覽</title>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
    </head>

   <body class="subpage">
   <!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="/" class="logo"><strong>Project</strong> by TEAM8</a>
				<nav id="nav">
					<a href = "/">首頁</a>
        			<a href = "/know.html?noun=" >名詞解釋</a>
        			<a href = "/member.html" >會員中心</a>
        			<a href = "/compare.html" >保單比較</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>
	<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<h2 id="elements">我們建議您</h2>
					<section id="main" class="wrapper">
      					<div class="table-wrapper">  
							<table class="alt">	
								<thead align = "center">
            						<tr>
			   							<th>保險名稱</th>
			   							<th><a href= /know.html?noun=主約與附約>主附約</a></th>
			   							<th><a href= /know.html?noun=傷害險與健康險>險種</a></th>
			   							<th><a href = /know.html?noun=定期壽險與終身壽險>年期</a></th>
			   							<th>勾選比較</th>
			   						</tr>
         						</thead>
         						<tbody align = "center">
            					{% for i in range(0,(name|length)) %}
            					<tr>
               						<td><a href = '{{ link[i] }}'>{{ name[i] }}</a></td>
               						<td>{{ major[i] }}</td>
               						<td>{{ type[i] }}</td>
               						<td>{{ year[i] }}</td>
			   						<td>
			   							<div class="6u$ 12u$(small)">
			   								<input type= "checkbox" name= "compare" value = "{{ i }}">
			   								<img src="{{ url_for('static',filename='images/add.png') }}" title="點我加入比較" height="30" width="30">
			   							</div>
			   						</td>
            					</tr>
            					{% endfor %}
         						</tbody>
      						</table>
      <!-- sex,age -->
      <form action= "/compare.html" method="post">
      	<input type= "hidden" name= "sex" value = "{{ sex }}" >
        <input type= "hidden" name= "age" value = "{{ age }}" >
        <input type= "hidden" name= "key" value = "年金保險" >
        <input type= "submit" value = "進行保單比較" >     	
      </form>
 
     <script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
  	<script type=text/javascript>
  		
  	</script>
   </body>
</html>
